/*
 * Copyright (c) 2010-2011 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Silvia Benvenuti
 * Skin Version: 4.0 (jPlayer 2.1.0)
 * Date: 1st September 2011
 */

div.jp-video {font-size:1.25em; font-family:Verdana, Arial, sans-serif; line-height:1.6; color: #666; position:relative;}

div.jp-video a {-webkit-transition: none; -moz-transition: none;}
.jp-type-single {position: relative;}
.jp-gui {position: absolute; bottom: 20px; width: 95%; margin-left: auto; margin-right: auto; left: 0; right: 0;}

div.jp-video-full div.jp-jplayer {top: 0; left: 0; position: fixed !important; position: relative; overflow: hidden; z-index:1000;}
div.jp-video-full div.jp-gui {position: fixed !important; position: static; top: 40px; left: 0; width:100%; height:100%; z-index:1000;}

div.jp-interface {height: 40px; position: relative; background-color:#000; margin: 0 auto; border: 1px solid rgba(255,255,255,0.07); border-radius: 3px; overflow: hidden; opacity: 0; -webkit-transition-property: opacity; -webkit-transition-duration: 1s; -moz-transition-property: opacity; -moz-transition-duration: 1s;}

.jp-type-single:hover div.jp-interface {opacity: 1; }

div.jp-controls-holder {clear: both; margin:0 auto; position: relative; overflow:hidden; height: 40px;}
div.jp-video div.jp-type-playlist ul.jp-controls {width: 134px; margin-left: 172px;}
div.jp-interface ul.jp-controls li {display:inline;}

div.jp-video ul.jp-controls {position: absolute; width: 40px; top: 8px !important; left: 20px;}
div.jp-interface ul.jp-controls a {display:block; text-indent:-9999px;}
	
a.jp-play, a.jp-pause {width:17px; height:23px;}
a.jp-play {background: url(images/jplayer/play.png) 0 0 no-repeat;}
a.jp-play:hover {background: url(images/jplayer/play.png) 0px -23px no-repeat;}

a.jp-pause {background: url(images/jplayer/pause.png) 0 0px no-repeat; display: none;}
a.jp-pause:hover {background: url(images/jplayer/pause.png) 0px -23px no-repeat;}

.four-column .jp-gui, .four-column .jp-video-play {display: none !important;}

.volume-holder {position: absolute; top: 0px; right: 70px; }
.single div.jp-video div.jp-progress {width: 690px;}
div.jp-video div.jp-progress {position: absolute; height:8px; top: 15px; left: 50px; width: 430px; overflow:hidden; background-color: #1f1e1c;}

.jp-video-full .jp-progress {width: 420px !important;}
div.jp-seek-bar {width:0px; height:100%; cursor: pointer;}
div.jp-play-bar {background: url("images/jplayer/jplayer.blue.monday.jpg") 0 -218px repeat-x ; width:0px; height:100%;}

div.jp-seeking-bg {background: url("images/jplayer/seeking.gif");}

div.jp-video a.jp-mute, div.jp-video a.jp-unmute, div.jp-video a.jp-volume-max {position: absolute; top:10px; margin-top:0;}

a.jp-mute {width: 14px; height: 17px; background: url(images/jplayer/volume.png) 0 0px no-repeat;}
a.jp-mute:hover {background: url(images/jplayer/volume.png) 0px -17px no-repeat;}
	
a.jp-unmute {background: url("images/jplayer/jplayer.blue.monday.jpg") -60px -170px no-repeat; display: none;}
a.jp-unmute:hover {background: url("images/jplayer/jplayer.blue.monday.jpg") -79px -170px no-repeat;}

a.jp-volume-max {background: url("images/jplayer/jplayer.blue.monday.jpg") 0 -186px no-repeat;}
a.jp-volume-max:hover {background: url("jplayer.blue.monday.jpg") -19px -186px no-repeat;}

div.jp-volume-bar {margin-left: 20px; margin-top: 16px; overflow:hidden; background: #1F1E1C; width:65px; height:5px; cursor: pointer;}
div.jp-volume-bar-value {background: url("images/jplayer/jplayer.blue.monday.jpg") 0 -256px repeat-x; width:0px; height:5px;}

div.jp-video-full div.jp-video-play {z-index:1000;}
a.jp-video-play-icon {position: absolute; width: 112px; height: 100px; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: auto; margin-bottom: auto; top: 0; bottom: 0; background: url(images/jplayer/bigplay.png) 0 0 no-repeat; text-indent:-9999px;}

div.jp-jplayer {background-color: #000000;}
ul.jp-toggles {position: absolute; top: 11px !important; right: 11px !important; width: 45px; height: 30px; list-style-type:none; padding:0;}

.jp-video-full ul.jp-toggles {top: -20px !important;}
ul.jp-toggles li {height: 30px; margin-bottom: 0px;}
div.jp-audio .jp-type-single ul.jp-toggles {width:25px;}

ul.jp-toggles li a {display:block; text-indent:-9999px; line-height:100%; /* need this for IE6 */}

a.jp-full-screen {width: 23px; height: 17px; background: url(images/jplayer/fullscreen.png) 0 0px no-repeat; margin-left: 20px;}
a.jp-full-screen:hover {background: url(images/jplayer/fullscreen.png) 0px -17px no-repeat;}

a.jp-restore-screen {width: 23px; height: 17px; background: url(images/jplayer/fullscreen.png) 0 0px no-repeat; margin-left: 20px;}
a.jp-restore-screen:hover {background: url(images/jplayer/fullscreen.png) 0px -17px no-repeat;}

.jp-video-full div.jp-interface {width: 650px !important; margin: 0 auto;}


/* @group NO SOLUTION error feedback */

.jp-no-solution {position:absolute; width:390px; margin-left:-202px; left:50%; top: 10px; padding:5px; font-size:.8em; background-color:#eee; border:2px solid #009be3; color:#000; display:none;}

.jp-no-solution a {color:#000;}

.jp-no-solution span {font-size:1em; display:block; text-align:center; font-weight:bold;}
